.image{
    border: 2px;
    border-radius: 1.5rem;
    background: rgb(228, 206, 206);
    justify-content: center;
    display: flex;
    
}

img{
    margin: 7px;
    width: 180px;
}
h1{
    text-align: center;
}
nav{
    text-align: center;
}
.mainProduct{
      text-align: center;
}